<ion-view view-title="Map">

	<ion-content class="mapContent" scroll="false">
      <map on-create="mapCreated(map)"></map>
	  </ion-content>
	  <ion-content class="listContent"> 
	  <div class="bar bar-header bar-calm">
		  <h1 class="title">Elements count: {{mapMarkers.length}}</h1>
		  <button type="button" class="button">Test</button>
		</div>
		</ion-content>
	<ion-content class="listContent" style="margin-top:40px;> 
	  <ul class="list-sth">
		<li class="item" ng-repeat="x in mapMarkers"><p ng-click="mapCenter(x.position.lat(), x.position.lng())"><i class="icon ion-{{x.randomMarker}}"></i><img ng-src="img/{{x.randomImg}}"> {{ x.title }}</p></li>
	</ul>
    </ion-content>
</ion-view>